{
	admin off
	http_port 8080
	https_port 8443
	acme_ca https://acme-v02.api.letsencrypt.org/directory
	email {env.LETSENCRYPT_EMAIL}
}

http://localhost:8081 {
	respond /health "OK" 200
}

# Request wildcard cert with DNS challenge via Cloudflare
# *.example.com {
#   tls {
#     dns cloudflare {env.CF_TOKEN}
#   }
# }

site.example.com {
	respond "Hello, world!"
}
